@import "../mixins.scss";

/* START Add Item Container styles START */
/*------------------*/
.addItemContainer {
    @include setMarginFontSizePadding(5px 10px, 20px, 20px 0);
    border-bottom: 1px solid black;
    & form {
        @include setFlexJustAlign(space-between, flex-start);
        flex-wrap: nowrap;
        & div {
            @include setFlexJustAlign(center, center);
        }
    }
    & span {
        font-weight: 700;
    }
    & input{
        @include setMarginFontSizePadding(0 10px, 15px, 0);
    }
      
    & p {
        @include setMarginFontSizePadding( 0, 13, 0);
        font-weight: 700;
        text-decoration: none;
        opacity: 50%;
    }
    
    & button {
        padding: 3px 8px;
    }
}
/*------------------*/
/* END Add Item Container styles END */