/* START App Block styles START */
/*------------------*/
/* Lato font-family used in index.css */
.App {
  text-align: center;
  background-color: silver;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}

.container h1 {
  margin: 0;
  padding: 20px 0;
  color: whitesmoke;
  background-color: rgba(128, 128, 128, 0.479);
}

.container p {
  font-size: 20px;
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

.container h2 {
  text-align: start;
  margin: 20px 10px;
}

.container h2 span {
  color: rgba(2, 153, 40, 0.514);
}

/*------------------*/
/* END Add Item Container styles END */
/*------------------*/
/* START Add Item Container styles START */
/*------------------*/
.addItemContainer {
  margin: 5px 10px;
  font-size: 20px;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.addItemContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.addItemContainer form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addItemContainer span {
  font-weight: 700;
}

.addItemContainer input {
  margin: 0 10px;
  font-size: 15px;
  padding: 0;
}

.addItemContainer p {
  margin: 0;
  font-size: 13;
  padding: 0;
  font-weight: 700;
  text-decoration: none;
  opacity: 50%;
}

.addItemContainer button {
  padding: 3px 8px;
}

/*------------------*/
/* END Add Item Container styles END */
/*------------------*/
/* START ToDoList Component styles START */
/*------------------*/
.ToDoList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 20px;
  overflow-y: scroll;
  height: 50vh;
}

/* ToDoItem Start */
.ToDoItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 10px;
  font-size: 18px;
  padding: 10px;
  border: 1px solid black;
  background-color: lightcyan;
}

.ToDoItem div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ToDoItem span {
  margin: 0 10px;
  font-size: 18px;
  padding: 0;
  font-weight: 300;
}

.ToDoItem p {
  margin: 0 10px;
  font-size: 16px;
  padding: 0;
  text-decoration: none;
}

.ToDoItem input {
  width: 18px;
  height: 18px;
}

.ToDoItem button {
  padding: 3px 8px;
}

.done {
  background-color: lightsalmon;
}

.done span {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.done p {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/*ToDoItem END */
/*------------------*/
/* END ToDoList Component styles END */
